@use "../variables" as *;

.about {

  .about-container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }

  p {
    font-size: 1rem;
    color: $dark-green-color;
    max-width: 48rem;
    margin: 0 auto;
    text-align: left;

    @media (min-width: 420px) {
      font-size: 1.125rem;
    }

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }

    @media (min-width: 1024px) {
      font-size: 1.3rem;
    }
  }

  .main-photo {
    display: block;
    margin: 0 auto 2rem;
    width: 80%;
    border-radius: 60%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    @media (min-width: 420px) {
      width: 50%;
    }

    @media (min-width: 768px) {
      width: 40%;
      margin: 0 auto;
    }

    @media (min-width: 1024px) {
      width: 30%;
    }
  }
}