.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: $light-green-color;
  background: linear-gradient(315deg, $white-color, $white-color),
    center/cover no-repeat;

  .container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  @media (max-width: 767px) {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 20px;
    }
  }

  @media (min-width: 1024px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 0 30px;
    }
  }

  div {
    // width: 50%;
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .btn {
    background-color: #005f6b;
    color: #ededed;
    padding: 10px 42px;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: #0d9488;
      color: #ffffff;
    }

    &:active {
      background-color: $dark-green-color;
    }
  }
}
img {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}


