@use "../variables" as *;

#services {
  padding: 3rem 0;
  background-color: #ffffff;

  @media (min-width: 768px) {
    padding: 5rem 0;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 3rem;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  .services-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid $light-green-color;
    line-height: 1;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }
  }

  .tab-button {
    height: 56px;
    background: white;
    color: $light-green-color;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
    border-left: 2px solid $light-green-color;
    border-right: 2px solid $light-green-color;
    border-top: 2px solid $light-green-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @media (min-width: 768px) {
      width: 33%;
      height: 56px;
    }
  }

  .tab-button:hover,
  .tab-button.active {
    background: $dark-green-color;
    color: white;
  }

  .tab-content {
    display: none;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 5px;

    @media (min-width: 768px) {
      margin: 0;
    }
  }

  .tab-content.active {
    display: block;
  }

  .services-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    .service-card {
      width: 100%;
      background: #ffffff;
      padding: 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      text-align: left;
      transition: transform 0.3s ease;

      @media (min-width: 768px) {
        width: calc(50% - 1.5rem);
      }

      @media (min-width: 1440px) {
        width: calc(30% - 3rem);
      }

      &:hover {
        transform: translateY(-5px);
      }

      .icon {
        font-size: 2rem;
        color: #10b981;
        display: block;
      }

      .service-card-header {
        display: flex;
        gap: 1rem;

        h3 {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        .icon.iconify {
          font-size: 1rem;
          fill: #10b981;
          margin-bottom: 1rem;
        }
      }
    }
  }
}