@use "./variables" as *;

body {
  font-family: Montserrat, sans-serif;
}

.section {
  // padding: 50px 0;
  // min-height: 50vh;
}

.hero {
  height: 100vh;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: $blue-color;

  @media (min-width: 768px) {
    font-size: 2.25rem;
  }
}

.container {
  min-width: 320px;
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  // background-color: #ffffff;

  @media screen and (min-width: 420px) {
    width: 90%;
    padding: 2rem;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 2rem;
  }

  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 3rem;
  }

  // outline: 1px solid red;
}