$blue-color: #254168;
$blue-color-hover: #1d3557;

$dark-green-color: #39625c;
$light-green-color: #538069;

$white-color: #ededed;
$light-beige-color: #f2e0c9;

$main-bg: #f9fafb;
$main-font: 'Montserrat', sans-serif;
$light-accent: #39625c12;
$light-accent: #eff9fa;

// $color1: #00A2B8;
// $color2: #00C6A7;
// $color3: #1E4D92;

$color1: #00A2B8;
$color2: #00c6a865;
$color3: #1E4D9265;

// 252732



